snippet m "post delimiter" b
<!-- more -->

$0
endsnippet

snippet hcr "Description" b
     O /                               O
   / |                                /|\
    / \                               | |
         +-----+    *-----*    -----
         |     |    |     |   (     )
         +-----+    *-----*    -----
endsnippet
